name: Deploy to Oracle Cloud

on:
    workflow_dispatch: # GitHub 웹사이트에서 'Run workflow' 버튼을 만들어줍니다.
        inputs:
            logLevel:
                description: "Log level"
                required: true
                default: "warning"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: SSH Remote Commands
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  # script 섹션 내의 #은 서버에서 주석으로 처리됩니다.
                  script: |
                      cd ~/playground

                      if [ ! -d ".git" ]; then
                        echo "Initializing git repository..."
                        git init
                        git remote add origin https://github.com/${{ github.repository }}.git
                        git fetch
                        git checkout -f master
                      else
                        echo "Pulling latest changes from GitHub..."
                        git pull origin master
                      fi

                      cat > .env << EOF
                      AIRTABLE_BASE_ID=${{ secrets.AIRTABLE_BASE_ID }}
                      AIRTABLE_TABLE_NAME=${{ secrets.AIRTABLE_TABLE_NAME }}
                      AIRTABLE_API_KEY=${{ secrets.AIRTABLE_API_KEY }}
                      EOF

                      yarn install
                      yarn build

                      pm2 reload nextjs || pm2 start yarn --name "nextjs" -- start

                      echo "Deployment successfully finished!"
